@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');


*{
  margin: 0;
  padding: 0;
}


/*--Top Navbar--*/
.container-navbartop{
  background: #03203C;
  height: 45px;
}

.navbar-top{
  font-family: 'Stylish', sans-serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  justify-content: flex-start;
}
.navbar-top h1{
  margin-left: 20%;
}
.navbar-top a{
  color: aliceblue;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Warnes', cursive;
  text-align: center;
  font-weight: bold;
}


/*--Login Form--*/
.container-login{
  height: 100%;
  font-family: 'Poppins', sans-serif;
  width: 30%;
  margin: 2% auto;
  font-size: 16px;
  border-color: rgb(151, 149, 149);
  border-radius: 0.8rem;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 2px 3px #03203C;

 
}
.container-login-form{
  padding: 12px 20px;
  padding-left: 9%;
  margin: 0 auto;
  width: 90%;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 93%;
  border-radius: 6px;
}
button:hover {
  opacity: 1;
}
.container-form-header {
  text-align: center;
  color: #03203C ;
  margin: 20px 10px 0px 10px;
}
.container-form-header img{
  width: 30%;
}
.container-form-header h1{
  font-family: 'Poppins', sans-serif;
  color: #03203C;
  font-size: 28px;
  text-align: center;

}
input[type=text], input[type=password] {
  font-family: 'Poppins', sans-serif;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: 5px solid #03203C;
  border-width: thin;
  border-radius: 0.1rem;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
.container {
  padding: 16px;
}

.psw {
  float: left;
  padding-left: 2% ;
  
}
.psw a{
  text-decoration: none;
}

/*--Footer--*/
.footer{
  position: fixed;
  padding: 5px 5px 5px 5px;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #120E43;
  color: aliceblue;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}